/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  0% {
    color: white;
  }

  30% {
    color: white;
  }

  100% {
    color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: red;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}


#waybar {
  background-color: transparent;
  color: #ffffff;
  font-family: monospace, system-ui, sans-serif;
  font-size: 12px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
/* Each module */
#clock,
#cpu,
#custom-pacman,
#custom-uptime,
#idle_inhibitor,
#disk,
#memory,
#network,

#clock.day {
  background: transparent;
  font-size: 11px;
  margin-right: 6px;
  opacity: 0.7;
}

#clock.time {
  background: transparent;
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
  margin-right: 8px;
}

#clock.date {
  background: transparent;
  font-size: 11px;
  margin-left: 6px;
  opacity: 0.7;
}

#cpu {
  background: transparent;
}

#cpu.warning label {
  animation: blink-warning 1s ease-in-out infinite alternate;
}

#cpu.critical label {
  animation: blink-critical 0.7s ease-in-out infinite alternate;
}

#cpu:hover {
  animation: none;
}

#disk {
  background: transparent;
}

#disk.warning label {
  animation: blink-warning 1s ease-in-out infinite alternate;
}

#disk.critical label {
  animation: blink-critical 0.7s ease-in-out infinite alternate;
}

#disk:hover {
  animation: none;
}

#memory {
  background: transparent;
}

#memory.warning label {
  animation: blink-warning 1s linear infinite alternate;
}

#memory.critical label {
  animation: blink-critical 0.7s ease-in-out infinite alternate;
}

#memory:hover {
  animation: none;
}

#network {
  background: transparent;

}

#network.disconnected {
  color: orange;
}

#workspaces {
  padding: 2px;
  font-size: 10px;
}

#workspaces .active * {
  color: #9746c6;
}

#workspaces button {
  border-top: 2px solid transparent;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 10px;
  color: white;
  opacity: 0.7;
}

#workspaces button:hover {
  background: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
  color: peru;
}

#workspaces button.visible {
  border-color: transparent;
  color: #ffffff;
  background-color: transparent;
  opacity: 0.7;
}

#workspaces button.focused {
  border-color: #4c7899;
  color: #ffffff;
  background-color: #285577;
}

#workspaces button.urgent {
  border-color: #2f343a;
  color: #ffffff;
  background-color: #900000;
}

#custom-uptime {
  padding-right: 8px;
}

#custom-sys-indicator {
  margin-right: 8px;
}

#pulseaudio {
  margin-right: 12px;
}

#group-system .sys-child {
  margin-right: 8px;
}

#group-system {
  padding: 0 6px;
}

#custom-spotify {
  min-width: 200px; 
  margin-left: 25px;
  color: #ffffff;
  opacity: 0.7;
}

#custom-spotify label {
  min-width: 20px;
}

tooltip {
  background: transparent;
  border: transparent;
}

#custom-bluetooth {
  margin-right: 15px;
  font-size: 15px;
}
